.divisor {
    display: none;
}

.about {
    flex-direction: column-reverse;
    gap: 30px;
    margin: 1rem;
}

.about-img {
    margin: 35px 0px 0px 0px;
}

.about-container {
    width: 100%;
}

.about-title {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.title-divider {
    max-width: 180px;
    margin: auto;
    margin-bottom: 10px;
}

.about-txt p {
    width: 100%;
    font-size: .8rem;
    margin: auto;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px 5px 0px;
}

.skills h5 {
    margin: 0;
    text-align: center;
}

.about-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.about-btn-contact,
.about-btn-cv {
    padding: 15px 20px;
    font-size: .8rem;
    margin: 5px 0px;
}

.formulario form {
    width: 300px;
}