.about {
    flex-direction: column-reverse;
    gap: 30px;
    margin: 0 80px;
}


.about-container {
    width: 100%;
}

.about-title {
    text-align: center;
    font-size: 1rem;
}

.title-divider {
    margin: auto;
    margin-bottom: 10px;
}

.about-txt p {
    width: 100%;
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h5 {
    margin: 0;
    text-align: center;
}

.skills-logo ul {
    margin-top: 5px;
}

.about-btn {
    display: flex;
    justify-content: center;
}

.about-btn-contact,
.about-btn-cv {
    padding: 15px 20px;
    font-size: 1rem;
}

.formulario form {
    width: 300px;
}